.watch {
  @include flex-center;

  position: relative;
  width: $watch-width;
  height: $watch-height;
  border: 1vmin dotted $color-black;
  border-radius: 50%;

  &--speed-up {
    $watch-duration: 10s;
  }

  &__middle-circle {
    @include watch-hand-properties(
      $watch-middle-circle-width,
      $watch-middle-circle-height,
      $watch-middle-circle-background-color
    );

    border-radius: 50%;
    z-index: 10;
  }

  &__minute-hand {
    @include starting-position-hand;
    @include watch-hand-properties(
      $watch-minute-width,
      $watch-minute-height,
      $watch-minute-background-color
    );

    margin-top: -1.5vmin;

    animation: rotate-full $watch-speed-minute steps($watch-steps-minute)
      infinite;
  }

  &__second-hand {
    @include starting-position-hand;
    @include watch-hand-properties(
      $watch-second-width,
      $watch-second-height,
      $watch-second-background-color
    );

    margin-top: -0.75vmin;
    animation: rotate-full $watch-speed infinite linear;
  }
}

@keyframes rotate-full {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
