$watch-width: 80vmin;
$watch-height: 80vmin;
$color-black: #000;
$watch-speed: 60s;
$watch-speed-minute: $watch-speed * 60;
$watch-steps-minute: 60;

// watch properties
$watch-second-width: 1.5vmin;
$watch-second-height: 38vmin;
$watch-second-background-color: #2c8000;
$watch-minute-width: 3vmin;
$watch-minute-height: 20vmin;
$watch-minute-background-color: #0700ff;
$watch-middle-circle-width: 5vmin;
$watch-middle-circle-height: 5vmin;
$watch-middle-circle-background-color: #f6a603;
